#hour-clock {
	margin: auto;
	margin-top: 300px;
	height: 270px;
	width: 270px;
	background: linear-gradient(red, yellow); 
	border-radius: 100%;
}

body {
	background-color: lightblue;
}

#textid {
	margin-left: 40px;
}